<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>这个是模板测试页面</h1>
姓名：{{ name }}
<br>
年龄:{{ age }}
<h2>爱好{{ hobby }}</h2>
<h2>第一个爱好{{ hobby.1 }}</h2>
<h2>分数{{ score }}</h2>
<h2>数学成绩：{{ score.shuxue }}</h2>

{% if age > 18 and age < 40 %}
    <p>青壮年</p>
{% elif age >= 40 %}
    <p>中年</p>
{% else  %}
    <p>少年</p>
{% endif %}

{#遍历列表#}
<ol>
    {% for one in hobby %}
        <li>{{ one }}</li>
    {% endfor %}
</ol>

{#遍历字典#}
{% for key,value in score.items %}
    <p>{{ key }}:{{ value }}</p>
{% endfor %}

{#forloop#}
{#forloop是一个django自带的一个变量，作用于循环，记录循环的次数，可以对循环的内容进行控制，
判断，通常和if连用#}
{% for one in hobby reversed  %}
    {% if forloop.first %}
        <p style="color:red">{{ forloop.counter }}.{{ one }}</p>
    {% elif forloop.last %}
        <p style="color:blue">{{ forloop.counter }}.{{ one }}</p>
    {% else %}
        <p>{{ forloop.counter }}.{{ one }}</p>
    {% endif %}
{% endfor %}



</body>
</html>